

.name-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.name-card {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    
    border: solid;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #2a3d4f;

    width: 15%;
}